﻿@model BodySummaryEditorViewModel
@using Datwendo.BlogEx.ViewModels;
<fieldset>
    <label>@T("Summary")</label>
    @Display.Body_Editor(Text: Model.Text, EditorFlavor: Model.EditorFlavor, Required: false, AutoFocus: false, ContentItem: Model.BodySummaryPart.ContentItem)
    @Html.ValidationMessageFor(m => m.Text)
</fieldset>